*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: black;
  background-color: #e9f0f4;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.text-bold {
  font-weight: bold;
}

.text-padding {
  padding: 0 0.5rem;
}

.text-center {
  text-align: center;
}

.line-through {
  text-decoration: line-through;
}
.text-red {
  color: #e70000;
}

.text-green {
  color: #1eb336;
}
.text-gray {
  font-size: 1.2rem;
  color: #aaaaaa;
}

.text-gray {
  color: #a7a7a7;
}
.text-white {
  color: white;
}
.text-bg-green {
  background-color: #19ae30;
}
.text-bg-red {
  background-color: #cf0000;
}
.text-bg-yellow {
  background-color: #f2cc0f;
}

.image-wrapper {
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-mobile {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

.text-desktop {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.pic2 {
  @media (min-width: 768px) {
    max-width: 60%;
  }
}
.summary-button {
  width: fit-content;
  background-color: #009f20;
  padding: 1.5rem;
  border: 1px solid #009f20;
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  border-radius: 1rem;
  margin: 1.5rem auto;
  transition: all 0.35s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: #009f20;
  }
}

.image-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  margin: 2.5rem 0;
}

img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  padding-left: 3rem;
  margin: 0;
  li {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

.btn {
  width: 100%;
  max-width: 50.8rem;
  border: 2px solid #19ae30;
  background-color: #19ae30;
  border-radius: 0.2rem;
  text-align: center;
  display: block;
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 2.1rem;
  margin: 0 auto 2rem;
  cursor: pointer;
  transition: all 0.35s ease-in-out;

  &:hover {
    color: #19ae30;
    background-color: white;
    border: 2px solid #19ae30;
  }
}

.decoration {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 0.5rem;
  &-1 {
    background-color: #f69087;
  }
  &-2 {
    background-color: #85ccb1;
  }
  &-3 {
    background-color: #85a9b3;
  }
  &-4 {
    background-color: #b0cb7a;
  }
}

header {
  width: 100%;
  background-color: #2e3641;
  display: flex;
  flex-direction: column;

  .header-title {
    font-size: 4.5rem;
    color: white;
    font-weight: 500;
    padding: 2.1rem 2.4rem;
  }
}

.container {
  width: 100%;
  max-width: 116rem;
  margin-left: auto;
  margin-right: auto;
}

.summary-content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  margin-top: 2rem;
  padding: 0 2rem;

  @media (min-width: 992px) {
    grid-template-columns: repeat(1, 82rem);
  }
}
.site-content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  margin-top: 2rem;
  padding: 0 2rem;

  @media (min-width: 768px) {
    grid-template-columns: 74% 24%;
    grid-gap: 2%;
  }
  @media (min-width: 1240px) {
    grid-template-columns: 82rem 30.4rem;
    grid-gap: 3.5rem;
  }
}

.main-top,
.main-bottom,
.main-summary {
  background-color: white;
  padding: 1.8rem 1.8rem 4.1rem 1.8rem;
}
main {
  .summary-title {
    font-size: 3rem;
    line-height: 6.1rem;
    font-weight: bold;
    width: fit-content;
    color: white;
    background-color: #009f20;
    padding: 0.5rem 2rem;
    text-align: center;
    margin: 0 auto 2.5rem;

    @media (min-width: 992px) {
      font-size: 5rem;
    }
  }
  .main-title {
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 5.9rem;
  }
  .main-lead {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 4rem;
    margin-bottom: 2rem;

    @media (min-width: 992px) {
      font-size: 3.4rem;
    }
  }
  .main-subtitle {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-bottom: 1.2rem;
  }
  .main-paragraph-big {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 1.5rem;
  }
  .paragraph {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
  }
  .paragraph-small {
    font-size: 2rem;
    font-weight: 700;
  }
}
.main-top {
  margin-bottom: 4rem;

  .main-article-date {
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #808080;
    margin-bottom: 1.9rem;
  }
  .list {
    margin-bottom: 1.6rem;
  }
  .green-box {
    background-color: #c2e5d8;
    padding: 2.2rem 1.5rem 1rem;
    margin-bottom: 3.8rem;
  }
  .guarantee-subtitle {
    margin-bottom: 2.6rem;
    margin-top: 2.2rem;
  }
  .product-promotion-details {
    margin-top: 2.3rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 3.1rem;
    .text-red {
      text-decoration: line-through;
    }
    .text-red,
    .text-green {
      font-weight: bold;
    }
  }
  .product-image {
    max-width: 25rem;
  }
}

.main-bottom {
  .comments-title {
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: bold;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #d4d4d4;
  }
  .form-add-comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    input {
      margin-bottom: 0.8rem;
    }
    textarea {
      margin-bottom: 2.2rem;
      resize: none;
      min-height: 10rem;
    }
    input,
    textarea {
      padding: 0.4rem 0.7rem 0.5rem 0.5rem;
      outline: none;
      font-family: "Roboto", sans-serif;
      font-size: 1.6rem;
      line-height: 2.1rem;
      &::placeholder {
        font-family: "Roboto", sans-serif;
        font-size: 1.6rem;
        line-height: 2.1rem;
      }
    }
    .form-buttons {
      display: flex;
      gap: 1.1rem;
      .form-btn {
        padding: 0.9rem;
        color: white;
        background-color: #868e96;
        border-radius: 0.3rem;
        border: none;
        cursor: pointer;
        transition: all 0.35s ease-in-out;

        &:hover {
          background-color: #5f6468;
        }
      }
    }
  }
  .comments-wrapper,
  .added-comments {
    .comment {
      display: flex;
      margin-bottom: 2.3rem;
      .comment-avatar {
        width: 48px;
        height: 48px;
        margin-right: 2.4rem;
      }
      .comment-content-wrapper {
        .comment-row {
          display: flex;
        }
        .comment-row-image {
          display: flex;
          flex-direction: column;
        }
        .comment-author {
          font-size: 1.6rem;
          font-weight: 500;
          color: #42a98b;
          margin-right: 0.9rem;
          margin-bottom: 0.8rem;
        }
        .comment-date {
          color: #7f919e;
          font-size: 1.4rem;
        }
        .comment-content {
          margin-bottom: 1.1rem;
        }
        .comment-attachment {
          width: fit-content;
          max-width: 20rem;
          margin-bottom: 1.8rem;
        }
      }
    }
  }
}
.picture-error {
  color: red;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.telephone-box {
  border: 0.2rem solid #cf0000;
  max-width: 50rem;
  color: black;
  margin: 2rem auto 4rem;
  font-size: 2rem;
  line-height: 4.2rem;
  padding: 0.5rem;
  font-weight: 700;
  text-align: center;
  position: relative;

  @media (min-width: 525px) {
    font-size: 3.5rem;
  }
  @media (min-width: 768px) {
    font-size: 4.5rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    width: 2.6rem;
    height: 2.6rem;
    background-image: url("../images/icon-phone.svg");
    background-size: 100% 100%;
  }
}

.hr {
  width: 100%;
  height: 0.1rem;
  margin: 1.5rem 0;
  background-color: #707070;
}

aside {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.aside__item {
  margin-top: 1.4rem;
  .covid--title {
    background-color: #9f0202;
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;
    padding: 0.9rem 0.8rem;
  }
  .covid_wrapper {
    padding: 1.5rem 1.3rem;
    background-image: url("../images/covid-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    .inner {
      color: #fff;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding-bottom: 0.3rem;
      margin-bottom: 1.5rem;
      &_data {
        font-weight: bold;
      }
      &:last-of-type {
        margin-bottom: 5rem;
      }
    }
  }
}

footer {
  margin-top: 20rem;

  .text-gray {
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 55.6rem;
  }
  .copyright {
    margin-bottom: 2.3rem;
  }
  .attachments {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    margin-bottom: 1.8rem;
    .text-gray {
      text-decoration: underline;
    }
  }
  .company-address {
    margin-top: 2.3rem;
    margin-bottom: 1.8rem;
  }
}
.image-row {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 0 auto 2rem;
  max-width: 61rem;
}

.before-after-col {
  width: 50%;
  display: flex;
  justify-content: center;
}

.image-col {
  width: 50%;
  text-align: center;
}
@media (min-width: 768px) {
  .image-col:last-of-type {
    padding-left: 6rem;
  }
}

.before-after-image {
  max-width: 100%;
}
@media (min-width: 768px) {
  .before-after-image {
    max-width: 61rem;
  }
}

.image-title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.image-title-red {
  color: darkred;
}

.image-title-green {
  color: #3fcba3;
}
